
/*************************Overall*************************/

* {
    font-family: 'Maven Pro', sans-serif;
    color: #27004b;
}

body {
    background-color: rgb(245, 245, 245) !important;
}

h1,
h3,
a {
    font-weight: 400 !important;
}
hr {
    border-style: dotted none none !important;
    border-color: rgb(216, 216, 216) !important;
    border-width: 6px !important;
    width: 6% !important;
    margin: 0 auto !important;
}

i:hover {
    color: #ffe18e !important;
}

/*******************Header/Title**********************/

.title-paragraph-pad {
    padding-bottom: 6%;
}
.color-nav {
    background-color: #27004b !important;
    font-size: 1rem;
    letter-spacing: 2px;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: 400 !important;
}

.nav-link:hover {
    color: #ffe18e !important;
}

.dropdown-menu {
    background-color: #27004b !important;
    border-radius: 20px !important;
    border: 2px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

}

.dropdown-item {
    background-color: #27004b !important;
    border-radius: 20px !important;
    color: rgb(255, 255, 255) !important;
}
.home {
    color:white !important;
}
.home:hover {
    transform: none;
}
.dropdown-item:hover {
    color: #ffe18e !important;
}

.brand-nav {
    font-size: 1rem !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 400;
    letter-spacing: 2px;
}

.brand-nav:hover {
    color: #ffe18e !important;
}

.logo-pic {
    width: 80px;

}

.dropdown-toggle:hover .navbar {
    display: block !important;
}


.head-bottom-para {
    text-align: center;
    padding: 0% 10% 6% 10%;
    font-size: 1.25rem;
} 

.head-bp {
    padding-top: 8%;
}
    


/* Footer */

.footer {
    padding: 3% 2% 2% 2%;
    font-size: 0.9rem;
    background-color: #ffe18e !important;
    color: #27004b;
    text-align: center;
}

.footer a {
    letter-spacing: 2px;
    color: #27004b;
}

.footer a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.foot-he {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1%;
}

.foot-cr {
    font-size: 0.6rem;
}

.foot-top {
    display: block;
    padding-bottom: 1%;
    font-size: 0.9rem;
}








/********************************************************************************/
/* Head Page */
.title-paragraph {
    text-align: center;
}

.head-first-title {
    padding-bottom: 3%;
    padding-top: 5%;
}

.head-first-para {
    font-size: 1.25rem;
}

.head-github-title {
    padding: 0% 2% 4% 2%;
}

.each-card {
    position: relative !important;
    margin: 0 auto !important;
}

.head-github-btn {
    padding: 4% 2% 2% 2%;
}

.head-middle-title {
    padding-top: 8%;
    padding-bottom: 4%;
}

.head-middle-para {
    padding-bottom: 2%;
}

.head-resources-cards {
    text-align: center;
    padding: 0% 2% 8% 2%;
}

.head-resources-cards-title {
    padding-bottom: 5.5%;
}

.head-resources-cards-btn {
    padding: 6% 2% 1% 2%;
    text-align: center;
}









/* Card */
/**********************************************************************/

.card-img-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 150px;
    width: 200px;
}

.card {
    border-radius: 10px !important;
    width: 250px !important;
    background-color: rgb(245, 245, 245) !important;
    border: 1px !important;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform .35s;
    text-decoration: none !important;
}
.card-body{
    height: 220px;
    overflow: auto;
}

.card-body::-webkit-scrollbar {
    width: 5px !important;
    color: red !important;
}

.card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
    height: 10px;
    
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
    background-color: #ffe18e !important;;
    
}

.cardA:hover {
    text-decoration: none !important;
}

.card-title {
    font-weight: 600 !important;
}



/* button */
/*************************************************************************************/


.cardBtn:active {
    position: relative;
    top: 1px;
}

.headTopBtn {
    background: linear-gradient(to bottom, #ffe18e 50%, #f0c465 100%);
    background-color: #ffe18e;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #27004b;
    font-size: 16px;
    font-weight: 600 !important;
    padding: 15px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffe18e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform .5s;
}

.headTopBtn:hover {
    background: linear-gradient(to bottom, #f0c465 5%, #ffe18e 100%);
    background-color: #f0c465;
    text-decoration: none;
    color: #27004b;
    transform: scale(1.05);
}

.headTopBtn:active {
    position: relative;
    top: 1px;
}

.navbar-toggler-icon {
    color: white !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none !important;
    box-shadow: none;
    color: white !important;
}

/* Github */
/********************************************************************************/

.git-tutorial-title,
.git-resource-title {
    text-align: center;
    padding: 10% 10% 6% 10%;
}

.git-tut-cards {
    padding: 0% 10% 8% 10%;
}

.middle-bullets-content {
    padding-bottom: 8%;
} 

.head-bul-para {
    text-align: center;
    padding: 0% 10% 0% 10%;
    font-size: 1.25rem;
}

.head-github-container {
    text-align: center;
}

.git-buttons-div {
    padding-bottom: 10%;
}

.github-page-title {
    text-align: center;
    padding: 6% 10% 8% 10%;
    font-size: 1.25rem;
}

.git-tut-cards {
    padding: 0% 10% 8% 10%;
}

.head-middle {
    text-align: center;
    padding: 6% 10% 3% 10%;
    font-size: 1.25rem;
}

.head-top-container {
    text-align: center;
    padding: 6% 10% 8% 10%;
}

.about-para-div {
    padding-bottom: 0%;
    font-size: 1.25rem;
}
.about-para {
    padding: 3%;

}


/* Code Pages */
/*******************************************************************************/


.snip-div {
    padding: 0% 10% 8% 10%;
    text-align: center;
}

.snip-class {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border: 2px;

}

.snip-title {
    padding-top: 8%;
}

.over-cards {
    padding-top: 8%;
    padding-bottom: 6%;
}
.head-bp-snip {
    padding-top: 7%;
    padding-bottom: 7%;
}

.snip-btn {
    background: linear-gradient(to bottom, #ffe18e 50%, #f0c465 100%);
    background-color: #ffe18e;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #27004b;
    font-size: 17px;
    padding: 14px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffe18e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
    transition: transform .35s;
    font-weight: 600;
    border: none;
}

.snip-btn:hover {
    background: linear-gradient(to bottom, #f0c465 5%, #ffe18e 100%);
    background-color: #f0c465;
    text-decoration: none;
    color: #27004b;
    transform: scale(1.05);
}

.snip-btn:focus {
    outline: none;
}
.r-snip,
.pyt-snip {
    padding-top: 5%;
    padding-bottom: 8%;
}


.contact-class {
    padding: 3% auto !important;
    border-radius: 100% !important;
    width: 150px !important;
    border: 3px !important;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.205) !important;
}

.extra-links-btn {
    text-align: center;
    padding-bottom: 3%;
}

.ex-links-div {
    padding: 2% 5% 8% 5%;
}

.each-link-div {
    padding: 3%;
}

.each-link-a {
    color: #27004b;
    text-decoration: underline !important;
}
.each-link-a:hover {
        color: #ffe18e;
}


.link-div {
    padding: 5%;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
    border-radius: 10px;
    height: 400px;
    overflow: auto;
    width: 60%;
    margin: 0 auto;
}
.link-div::-webkit-scrollbar {
        width: 13px;
    }

.link-div::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); ;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
        height: 30px;
}

.alRead {
    text-align:center;
    margin: 2px auto;
    font-size: 0.6rem;
}

 /**************************************Social Buttons**************************/ 
  .social-btns {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    padding: 2px;
  }
  
  
  .social-btns__share-button {
    cursor: pointer;
  }
  
  .social-btns__share-button:hover:not(:active) {
    opacity: 0.75;
  }
  
  .social-btns__custom-icon {
    width:32px;
    height:32px;
  }

  .social-container {
      display: inline-block;
      padding: 1%;
  }

  .social-1 {
      display: inline-block;
  }

  .share-click {
    padding-right: 15px;
  }

  .share-click:hover .share-icon {
      color: white !important;
  }

  .social-btns__share-button:focus {
      outline: none;
    }

@media (max-width: 800px) {
    .headGitCards {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}


