/* Header Navbar */
/**/

* {
    font-family: 'Spartan', sans-serif;
    color: #450084;
}

body {
    background-color: rgb(255, 254, 242) !important;
}

h1, h3, a {
    font-weight: 700 !important;
}

hr {
    border-style: dotted none none !important;
    border-color: rgb(133, 133, 112) !important;
    border-width: 6px !important;
    width: 6% !important;
    margin: 0 auto !important;
}

.color-nav {
    background-color: #450084 !important;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.nav-link {
    color: #b5a067 !important;
}

.nav-link:hover {
    color: white !important;
}
.dropdown-menu {
    background-color: #b5a067 !important;
    border-radius: 20px !important;
    border: 2px !important;
}
.dropdown-item {
    background-color: #b5a067 !important;
    border-radius: 20px !important;
    color: #450084 !important;
}

.dropdown-item:hover {
    color: white !important;
}
.brand-nav {
    font-size: 1.25rem !important;
    color: #b5a067 !important;
    font-weight: 700;
    letter-spacing: 1px;
}

.brand-nav:hover {
    color: white !important;
}

.logo-pic {
    height: 100px;
    width: 125px;
}

/* Footer */

.footer {
    padding: 2% 2%;
    font-size: 0.9rem;
    background-color: #b5a067 !important;
    color: #450084;
    text-align: center;
}

.footer a {
    letter-spacing: 1px;
    color: #450084;
}

.footer a:hover {
    text-decoration: none;
    color: white;
}

.footer p {
    font-size: 1.5rem;
    font-weight: 700;
}

.foot-top {
    display: block;
    padding-bottom: 1%;
    font-size: 0.9rem;
}

.foot-bot {
    padding-bottom: 2%;
    font-size: 0.7rem;
}

.foot-dan,
.foot-ct {
    padding-right: 20px;
}

/* Head Page */

.head-top-paragraph {
    text-align: center;
    padding: 3% 10% 6% 10%;
}

.head-first-title {
    padding-bottom: 3%;
    padding-top: 2%;
}

.head-first-para {
    padding-bottom: 6%;
    font-size: 1.25rem;
}

.head-github-container {
    text-align: center;
}

.head-github-title {
    padding: 0% 2% 4% 2%;
}

.each-card {
    position: relative;
    margin: 0 auto;
}

.head-github-btn {
    padding: 3% 2% 3% 2%;
}

.head-middle {
    text-align: center;
    padding: 3% 10%;
    font-size: 1.25rem;
}

.head-middle-title {
    padding-top: 6%;
    padding-bottom: 1%;
}

.head-middle-para {
    padding-bottom: 2%;
}

.head-resources-cards {
    text-align: center;
    padding: 0% 2% 6% 2%;
}

.head-resources-cards-title {
    padding-bottom: 3%;
}

.head-resources-cards-btn {
    padding: 4% 2% 1% 2%;
    text-align: center;
}

.head-bottom-para {
    text-align: center;
    padding: 0% 10% 2% 10%;
    font-size: 1.25rem;
}

.head-bp {
    padding-top: 6%;
}

/* Card */


.card-img-top {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    height: 150px;
    width: 200px;
}

.card {
    border-radius: 25px !important;
    width: 240px !important;
    background-color: rgb(230, 230, 230) !important;
    border: 1px !important;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    transform: translateY(5px);
}

.card:hover {
    width: 350px;
    background-color: #b5a067 !important;
    transform: translateY(0);
}
.card-title {
    font-weight: 700 !important;
}

/* button */
.cardBtn {
    background: linear-gradient(to bottom, #440084 5%, #5f00bd 100%);
    background-color: #440084;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4a008f;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.514);
    transform: translateY(1px);
    
}

.cardBtn:hover {
    background: linear-gradient(to bottom, #5f00bd 5%, #440084 100%);
    background-color: #5f00bd;
    text-decoration: none;
    color: #f0c465;
    transform: translateY(0);
    
}

.cardBtn:active {
    position: relative;
    top: 1px;
}

.headTopBtn {
    background: linear-gradient(to bottom, #b5a067 5%, #f0c465 100%);
    background-color: #b5a067;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 12px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b5a067;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.514);
    transform: translateY(2px);
}

.headTopBtn:hover {
    background: linear-gradient(to bottom, #f0c465 5%, #b5a067 100%);
    background-color: #f0c465;
    text-decoration: none;
    color: #5f00bd;
    transform: translateY(0);
}

.headTopBtn:active {
    position: relative;
    top: 1px;
}

/* Github */
.git-buttons-div {
    padding-bottom: 6%;
}

.github-page-title {
    text-align: center;
    text-align: center;
    padding: 3% 10% 6% 10%;
    font-size: 1.25rem;
}



.git-tutorial-title,
.git-resource-title {
    text-align: center;
    padding: 8% 10% 3% 10%;
}

.git-tut-cards {
    padding: 0% 10% 6% 10%;
}